<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baselyous.com.copticsmedia" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mediaTasks.MediaListActivity"
            android:label="@string/title_media_list"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <!--<activity
            android:name=".mediaTasks.MediaDetailActivity"
            android:label="@string/title_media_detail"
            android:parentActivityName=".mediaTasks.MediaListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="baselyous.com.copticsmedia.mediaTasks.MediaListActivity" />
        </activity>-->
        <activity
            android:name=".mediaTasks.tasks.Agpeya.AgpeyaDetailActivity"
            android:label="@string/agpya" />
        <activity
            android:name=".mediaTasks.tasks.Ebsalmodia.EbsalmodiaDetailActivity"
            android:label="@string/ebsalmodia" />
        <activity
            android:name=".mediaTasks.tasks.Kholagy.KholagyDetailActivity"
            android:label="@string/kholagy" />
        <activity
            android:name=".nonUsedCode.ContentsPreview"
            android:label="@string/title_activity_contents_preview">
        </activity>
    </application>

</manifest>
